--- 
layout: default
title: "Program"
permalink: /program/
---

<section id="program">
  <br><br>
  <h1 class="text-center">Programação</h1>
  <br><br>

  <section id="program_overview">
      <div class="container-fluid">
          <div class="row px-5">
              <ul class="nav nav-pills nav-fill justify-content-center black" id="program-tab" role="tablist">
                  {% for day in site.data.program %}
                  <li class="nav-item" role="presentation">
                      {%- if forloop.index == 1 -%}
                      <button class="nav-link active" id="tab-{{ day.id }}" data-bs-toggle="tab" data-bs-target="#program-{{ day.id }}" type="button" role="tab" aria-controls="program-{{ day.id }}" aria-selected="true">
                      {%- else -%}
                      <button class="nav-link" id="tab-{{ day.id }}" data-bs-toggle="tab" data-bs-target="#program-{{ day.id }}" type="button" role="tab" aria-controls="program-{{ day.id }}" aria-selected="true">
                      {%- endif -%}
                          {{ day.title }}
                          <br>
                          {{ day.date }}
                      </button>
                  </li>
                  {% endfor %}
              </ul>
          </div>
          <div class="tab-content">
            {% for day in site.data.program %}
            {%- if forloop.index == 1 -%}
            <div id="program-{{day.id}}" class="tab-pane show active" role="tabpanel">
            {%- else -%}
            <div id="program-{{day.id}}" class="tab-pane" role="tabpanel">
            {%- endif -%}
                <div class="container">
                    <div class="row program_header">
                        <div class="col-2 text-center">
                            <b>
                                Horário
                            </b>
                        </div>
                        <div class="col text-center">
                          <b>
                              Atividades
                          </b>
                        </div>
                    </div>
                </div>
                {% for block in day.blocks %}
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-2 text-center block_time">
                            <p class="block_time_text">
                                {{ block.start }} - {{ block.end }}
                            </p>
                        </div>
                        {% for activity in block.activities %}
                        <div class="col program_activity {{activity.type}}">
                            {% if activity.url != "" %}
                            <a href="{{activity.url}}" class="activity_title">
                                <p class="activity_title">
                                    {{ activity.title }}
                                </p>
                            </a>
                            {% else %}
                            <p class="activity_title">
                                {{ activity.title }}
                            </p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <hr>
                <br><br>
                <div class="container">
                    <h2 class="text-center">Detalhes</h2>
                    {% for block in day.blocks %}
                        {% for activity in block.activities %}
                            {% if activity.type == "tutorial" %}
                                <h3 id="{{activity.id}}">{{activity.title}}: {{activity.description}}</h3>
                                    <p>{{description.authors}}</p>
                            {% elsif activity.type == "session" %}
                                <h3 id="{{activity.id}}">{{activity.title}}</h3>
                            {% endif %}
                            <p><b>Horário</b>: {{block.start}} - {{block.end}}</p>
                            {% if activity.type == "session" %}
                                {% for paper in activity.papers %}
                                    <p class="paper_title"><b>{{paper.title}}</b></p>
                                    <p>{{paper.authors}}</p>
                                {% endfor %}
                            {% endif %}
                        {% if forloop.rindex != 1 %}
                        <hr>
                        {% endif %}
                    {% endfor %}
                    {% if forloop.rindex != 1 %}
                    <hr>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
  </section>
  <br><br>
</section>
